---

---
<header class="flex flex-row justify-center py-4">
    <nav class="flex flex-row gap-x-12">
        <!-- <a class="font-extralight" href="/">Home</a> -->
        <!-- <a class="text-neutral-400 font-thin" href="/about">About</a> -->
        <!-- <a class="font-extralight" href="/blog">Blog</a> -->
    </nav>
</header>